@model SqlEntities.CustomEntities.StudentInsertUpdateModel

@{
    ViewData["Title"] = "ShowStudentDetails";
}

<h1>ShowStudentDetails</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentGender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentDob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CollegeName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="FetchStudents">Back to List</a>
</div>
